ul,li,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
}
/* 头部标题栏 */
.main .fix_head .logo{
    display: flex;
    align-items: center;
}
.main .fix_head .logo img{
    width: 160px;
    height: 47px;
}
.main .fix_head .head_box{
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}

.main .fix_head .head_box ul{
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
    font-size: 13px;
}
.main .fix_head .head_box ul li a{
    text-decoration: none;
    color: #333;
    height: 30px;
    line-height: 30px;
    display: block;
    border-bottom: 2px solid #ffffff;
}
.main .fix_head .head_box ul li:last-child a{
    border: 0;
    height: 45px!important;
}
.main .fix_head .head_box ul li:last-child a{
    background: url('./img/tel.gif') no-repeat center;
    width: 30px;
    height: 30px;
}
.main .fix_head .head_box ul li .active{
    border-bottom: 2px solid #172991;
    font-weight: 600;
    color: #172991;
}
.main .fix_head .head_box ul .advise{
    position: relative;
}
.main .fix_head .head_box ul .advise .square{
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 42px;
    right: 10px;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 -10 0px rgba(0,0,0,.2);
}

.main .fix_head .head_box ul .advise_box{
    position: absolute;
    right: -8px;
    top: 46px;
    width: 250px;
    height: 80px;
    background: #fff;
    z-index: 999;
    border-radius: 5px;
    padding: 8px 25px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.main .fix_head .head_box ul .advise_box h2{
    font-size: 18px;
    font-weight: normal;
    color: #1e2b68;
    margin: 10px 0 2px 0;
}
.main .fix_head .head_box ul .advise_box p{
    color: #848dbb;
}

/* 中间banner图 */
.main .banner{
    position: relative;
    min-width: 1040px;
    overflow: hidden;  /*在屏幕宽度大于1040时，该属性生效，也就是滚动进度条没了 */
    width: 100%;
    height: 300px;
}
.main .banner .banner_img{
    background: url('./img/banner02.png');
    width: 1920px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 50%;
    /* margin-left: -960px; */
    transform: translateX(-50%);
}
/* content内容 */
.main .content {
    display: flex;
    justify-content: center;
    margin: 50px 0 70px 0;
}
.main .content .slide_left ul li a{
    text-decoration: none;
    color: #999;
    height: 50px;
    line-height: 50px;
    display: block;
    position: relative;
    padding-left: 96px;
    border-bottom: 1px solid #eeeeee;
}
.main .content .slide_left ul li:last-child a{
    border:0
}
.main .content .slide_left{
    width: 224px;
}
.main .content .slide_left ul li a::before{
    content: "";
    /* background: url('./img/litter_img/invest.png'); */
    width: 27px;
    height: 27px;
    position: absolute;
    left: 45px;
    top: 11px;
}
.main .content .slide_left ul li:nth-child(1) a::before{
    background: url('./img/litter_img/brand01.png');
}
.main .content .slide_left ul li:nth-child(2) a::before{
    background: url('./img/litter_img/invest.png');
}
.main .content .slide_left ul li:nth-child(3) a::before{
    background: url('./img/litter_img/contact01.png');
}
.main .content .slide_left ul li:nth-child(4) a::before{
    background: url('./img/litter_img/statement.png');
}
.main .content .slide_left ul li:nth-child(5) a::before{
    background: url('./img/litter_img/joinus.png');
}
.main .content .slide_left .employ{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .slide_left .employ p{
    font-size: 13px;
}
.main .content .slide_left .employ p:nth-of-type(1){
    color: #999;
    margin-bottom: 8px;
    margin-top: 15px;
}
.main .content .slide_left .employ p:nth-of-type(2){
    color: #172991;
}
.main .content .slide_left .employ img{
    width: 131px;
    height: 131px;
    /* padding: 10px; */
    border: 12px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 20px;
    margin-bottom: 10px;
}
.main .content .slide_right{
    width: 784px;
    margin-left: 40px;
}
.main .content .slide_right p{
    font-size: 14px;
    line-height: 32px;
}
.main .content .slide_right .article h2{
    position: relative;
}
.main .content .slide_right .article h2::before{
    width: 48px;
    height: 3px;
    background: #172991;
    content: '';
    position: absolute;
    top: 40px;
}
.main .content .slide_right .article h2::after{
    width: 48px;
    height: 3px;
    background: #ddd;
    content: '';
    position: absolute;
    top: 40px;
    left: 48px;
}
.main .content .slide_right .article .video_box{
    position: relative;
}
.main .content .slide_right .article .video_box a{
    background: url('./img/play02.jpg') no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.main .content .slide_right .article .descript{
    margin-top: 5px;
}

/* 底部区域 */
.main #footer{
    background: #131616;
    height: 300px;
    font-size: 13px;
    color: rgba(102,102,102,.6);
    text-align: center;
}
.main .foot_logo{
    background-image: url('./img/sub_logo@2x.png');
    width: 1040px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: auto 34px;
    border-bottom: 1px solid #262626;
    background-position: center;
    margin: 0 auto 60px;
}
.main .first_msg{
    margin-bottom: 20px;
}
.main .first_msg p{
    display: inline-block;
}
.main .first_msg p:last-child img{
    vertical-align: bottom;
    margin: 0 3px 0 25px;
}